h1 {
	text-align: center;
	font-family: aria;
	font-style: bold;
	font-size: 36px;
}
p {
	text-align: center;
	font-family: aria;
	font-size: 16px;
}

body {
	background-color: white;
}

body #board{
	margin: auto;
}

td {
	height: 80px;
	width: 85px;
	border: solid red 2px;
	border-radius: 5px;
	font-size: 35px;
	text-align: center;
	color: red;
	padding: 2px;
}

input {
	display: block;
	margin: 10px auto;
}

